body {
	margin-top: 75px;
	margin-bottom: 75px;
  background: linear-gradient(to right, rgb(66, 66, 64), rgb(11, 25, 31), rgb(53, 9, 23));
	text-align: center;
	
	text-transform: uppercase;
}

.container {
	/*background-color: rgba(255, 255, 255, 0.6);*/
	width: auto;
}

h1 {
	
	font-size: 55px;
	color: #fff;
}

h3 {
	
	font-size: 15px;
	color: #fff;
}

form {
	color: rgb(119, 16, 16);
}

#buttonsView {
	display: inline;
}

.gifs {
	display: inline;
}

#gifsView {
	display: inline;
	margin-bottom: 40px;
}

.gif {
	cursor: crosshair;
}

img.squiggle {
	top:0;
	left:0;
}

#show-form {
	display: inline;
}

button {
	background: #fff;
	margin: 5px;
	font-family: 'Open Sans', sans-serif;
	color: black;
}

textarea:focus {
  border-bottom: 2px solid #fff;
  -webkit-box-shadow: 0 2px 0 0 #fff;
  -moz-box-shadow: 0 2px 0 0 #fff;
  box-shadow: 0 2px 0 0 #fff;
}

.waves-effect {
	top: 15px;
}

/* border */
#top,
#bottom,
#left,
#right {
	background: #fff;
	position: fixed;
}

#left,
#right {
	top: 0; bottom: 0;
	width: 15px;
}
	#left { left: 0; }
	#right { right: 0; }

#top,
#bottom {
	left: 0; right: 0;
	height: 15px;
}
	#top { top: 0; }
	#bottom { bottom: 0; }